*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial;
}
@font-face {
  font-family: "Bernoru";
  src: url("fonts/bernoru-blackultraexpanded.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.page{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-1{
  background-color: cyan;
  display: flex;
  position: relative;
}
.page h1{
  font-size: 4rem;
  color: #000;
}
.chill{
  height: 800px;
  margin-top: 200px;
}
.sun{
  height: 200px;
  position: absolute;
  top: -5px;
  right: -10px;
}
.summer{
  font-family: jbcursive;
}
.page-2{
  background-color: #90E137;
  position: relative;
  z-index: 100;
}
.person-floating{
  height: 200px;
  position: absolute;
  top: -5px;
  right: -10px;
}

.page-3{
  background-color: #cd1480;
  display: flex;
  position: relative;
}

.vinyl{
  height: 200px;
  position: absolute;
  top: -5px;
  right: -10px;
}
.cassette{
  height: 200px;
  height: 200px;
  position: absolute;
  top: -5px;
  left: -10px;
}
.headphones{
  height: 200px;
  position: absolute;
  top: -5px;
  left: -10px;
  transform: scaleX(-1);
 }
 