@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 35px;
}

.page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-1 { background-color: cyan; display: flex; position: relative; }
.page-2 { background-color: #90E137; position: relative; z-index: 100; }
.page-3 { background-color: #cd1480; display: flex; position: relative; }

.summer, .dopamine, .analog-feel {
  font-family: "Parisienne", Arial;
}

.chill {
  height: 800px;
  margin-top: 200px;
}

.sun, .person-floating, .vinyl {
  height: 200px;
  position: absolute;
  top: -5px;
  right: -10px;
}

.cassette, .headphones {
  height: 200px;
  position: absolute;
  top: -5px;
  left: -10px;
}

.headphones {
  transform: scaleX(-1);
}

